<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px': i}" *ngFor="let c of [0,1,2,3,4]; let i = index" src="/assets/img/cards/card_cover.png" alt="">
        <img class="top-card" (click)="takeCard()" style="right: 25px;" src="/assets/img/cards/card_cover.png" alt="">
        <img class="played-Card" *ngFor="let card of game.playedCards" src="/assets/img/cards/{{ card }}.png" >
        <img class="pick-Card" (click)="takeCard()" *ngIf="pickCardAnimation"  style="right: 25px;" src="/assets/img/cards/{{ curentCard }}.png" alt="">
    </div>
</div>